<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta</title>
</head>
<body>
    <h1>Hola {{user}}</h1>
    
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Loguearse</a>
    {% endif %}
        

    <!--Esta seria la parte de las publicaciones de los usuarios-->
    <h2>Publicaciones</h2>
    <div>
        <!--Acá iteramos todos los registros que hay en la base de datos de posts-->
        {% for p in posts %}
            <div>
                <h3>{{p.descripcion}}</h3>
                <h4>{{p.usuario.username}}</h4>
            </div>
        {% endfor %}
            
    </div>
</body>
</html>