<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta</title>
</head>
<body>
    <h1>Perfil de usuario</h1>

    <ul>
        {% for post in user_posts %}

        <img src="{{post.imagen.url}}" alt="">
          <li>
            {{ post.descripcion }}<br>
            Autor: {{ post.usuario.username }}
          </li>
        {% empty %}
          <li>No hay publicaciones aún.</li>
        {% endfor %}
      </ul>

</body>
</html>