{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta</title>
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
<body>
    <main class="contenedor-instagram-profile-usuario">
      
      <section class="contenedor-botones-interaccion-profile">

        <article class="botones-interaccion-profile">
          <div class="botones-interaccion">
            <i class="fa-solid fa-house"></i>
            <h1>Inicio</h1>
          </div>
        </article>
        

        <article class="botones-interaccion-profile">
          <div class="botones-interaccion">
            <i class="fa-solid fa-house"></i>
            <h1>Buscar</h1>
          </div>
        </article>


        <article class="botones-interaccion-profile">
          <div class="botones-interaccion">
            <i class="fa-solid fa-house"></i>
            <h1>Mensajes</h1>
          </div>
        </article>

        <article class="botones-interaccion-profile">
          <div class="botones-interaccion">
            <i class="fa-solid fa-house"></i>
            <h1>Notificaciones</h1>
          </div>
        </article>

        <article class="botones-interaccion-profile">
          <div class="botones-interaccion">
            <i class="fa-solid fa-house"></i>
            <h1>Crear</h1>
          </div>
        </article>

        <article class="botones-interaccion-profile">
          <div class="botones-interaccion">
            <i class="fa-solid fa-house"></i>
            <h1>Perfil</h1>
          </div>
        </article>

        
      </section>
      
      
      <!---->
      <section class="contenedor-profile-usuario">
        <h1>hola, soy la seccion 2</h1>
        <h1>lorem1000</h1>
      </section>
    </main>
</body>
</html>